<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile colspan="3" rowspan="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Overall</mat-card-title>
        <mat-card-subtitle>{{status.status}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-status-item [statusItem]="status.api"></app-status-item>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-status-item [statusItem]="status.database"></app-status-item>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-status-item [statusItem]="status.cache"></app-status-item>
  </mat-grid-tile>
</mat-grid-list>
