<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{statusItem.name}}</mat-card-title>
    <mat-card-subtitle>{{statusItem.status}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Version: {{statusItem.version}}</p>
  </mat-card-content>
</mat-card>
