<app-nav></app-nav>

<router-outlet></router-outlet>

<footer>
  <p id="license" align="center">
    {{title}} is an open source project under the <a href="{{repoInfo.license.link}}">{{repoInfo.license.name}} License</a>
  </p>
  <p id="repo" align="center">
    Check it out <a href="{{repoInfo.link}}">here</a>!
  </p>
</footer>
