<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<mat-toolbar class="menu-bar mat-elevation-z1">
  <span *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.children && item.children.length > 0">
      <button *ngIf="!item.hidden"
              mat-button
              [matMenuTriggerFor]="menu.childMenu"
              [disabled]="item.disabled || (item.displayRequiresAuth && !loggedIn)">
        <mat-icon *ngIf="item.iconName">
          {{item.iconName}}
        </mat-icon>
        <span>{{item.displayName}}</span>
      </button>
      <app-menu-item #menu [items]="navItems"></app-menu-item>
    </span>
    <!-- Handle leaf node buttons here -->
    <span *ngIf="!item.children || item.children.length === 0">
      <button *ngIf="!item.hidden"
              mat-button
              [disabled]="item.disabled || (item.displayRequiresAuth && !loggedIn)"
              [routerLink]="item.route">
        <mat-icon *ngIf="item.iconName">
          {{item.iconName}}
        </mat-icon>
        <span>{{item.displayName}}</span>
      </button>
    </span>
  </span>
  <span class="fill-space"></span>
  <span>
    <button *ngIf="!loggedIn"
            mat-raised-button
            color="primary"
            [routerLink]="loginButton.route"
            [routerLinkActive]="['invisible', 'disabled']">
      <mat-icon>{{loginButton.iconName}}</mat-icon>
      <span>{{loginButton.displayName}}</span>
    </button>
    <button *ngIf="loggedIn"
            mat-raised-button
            color="accent"
            (click)="logout()">
      <mat-icon>{{logoutButton.iconName}}</mat-icon>
      <span>{{logoutButton.displayName}}</span>
    </button>
  </span>
</mat-toolbar>
