<div class="mat-headline">
  <h1 align="center">Tracked Applications</h1>
</div>

<div class="applications-container mat-elevation-z8">
  <div align="right" class="applications-header mat-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-button (click)="openCreateDialog()">Track New Application</button>
  </div>
  <table mat-table [dataSource]="applicationsDataSource" matSort>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="width: 4%"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="delete" (click)="deleteApplication(element.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="[element.name]">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70%">Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
</div>
