.applications-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
}

.applications-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

mat-icon {
  display: none;
}

tr:hover mat-icon{
  display: block;
}
