<form novalidate [formGroup]="form" (ngSubmit)="createApplication()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Create Application</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" hintLabel="Max 50 characters">
              <mat-label>Name</mat-label>
              <input matInput id="nameId" type="text" maxLength="50" formControlName="name"/>
              <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
              <mat-error *ngIf="errorMessages.name">{{errorMessages.name}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" hintLabel="Optional description of the application (100 characters or less)">
              <mat-label>Description</mat-label>
              <textarea matInput id="descriptionId" maxlength="100" formControlName="description"></textarea>
              <mat-hint align="end">{{description.value?.length || 0}}/100</mat-hint>
              <mat-error *ngIf="errorMessages.description">{{errorMessages.description}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions align="end">
        <button mat-raised-button type="submit" color="primary">Create</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
