  <div class="mat-headline">
    <h1 align="center">{{application.name}}</h1>
  </div>

  <div class="app-directories-container mat-elevation-z8">
    <div align="right" class="app-directories-header mat-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <button mat-button (click)="openCreateDialog()">Add Tracked Directory</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef style="width: 4%"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="delete" (click)="deleteDirectory(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="localPath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 32%">Local Path</th>
        <td mat-cell *matCellDef="let element">{{element.localPath}}</td>
      </ng-container>

      <ng-container matColumnDef="remotePath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 32%">Google Drive Path</th>
        <td mat-cell *matCellDef="let element">{{element.remotePath}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 32%">Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
  </div>
