<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.children && child.children.length > 0">
      <button *ngIf="!child.hidden"
              mat-menu-item [matMenuTriggerFor]="menu.childMenu"
              [disabled]="child.disabled || (child.displayRequiresAuth && !loggedIn)">
        <mat-icon *ngIf="child.iconName">
          {{child.iconName}}
        </mat-icon>
        <span>{{child.displayName}}</span>
      </button>
      <app-menu-item #menu [items]="child.children"></app-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.children || child.children.length === 0">
      <button *ngIf="!child.hidden"
              [disabled]="child.disabled || (child.displayRequiresAuth && !loggedIn)"
              mat-menu-item [routerLink]="child.route">
        <mat-icon *ngIf="child.iconName">
          {{child.iconName}}
        </mat-icon>
        <span>{{child.displayName}}</span>
      </button>
    </span>
  </span>
</mat-menu>
