<form novalidate [formGroup]="form" (ngSubmit)="createDirectory()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Create Directory</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width" hintLabel="Full path to the directory on the local machine">
              <mat-label>Local Path</mat-label>
              <input matInput id="localPathId" placeholder="/home/user/backup" type="text" formControlName="newLocalPath"/>
              <mat-error *ngIf="errorMessages.localPath">{{errorMessages.localPath}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" hintLabel="Full path to the backup location in Google Drive">
              <mat-label>Remote Path</mat-label>
              <input matInput id="remotePathId" placeholder="backups/application/database" type="text" formControlName="newRemotePath"/>
              <mat-error *ngIf="errorMessages.remotePath">{{errorMessages.remotePath}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" hintLabel="Optional description of the directory (100 characters or less)">
              <mat-label>Description</mat-label>
              <textarea matInput id="descriptionId" maxlength="100" formControlName="description"></textarea>
              <mat-hint align="end">{{description.value?.length || 0}}/100</mat-hint>
              <mat-error *ngIf="errorMessages.description">{{errorMessages.description}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions align="end">
        <button mat-raised-button type="submit" color="primary">Create</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
